.navbar{
    background-color: rgb(0,47,69) !important;
/* HCSA Blue*/
}

.navbar .nav-item a{
    color: rgb(255,255,255) !important;

/* White */
}

.navbar .dropdown-menu{
    background-color: rgba(0,47,69,0.3);
/* HCSA Blue, Opacity 30%*/
}

.dropdown-item:hover{
    background-color: rgba(0,47,69,1.0);
/* HCSA Blue, Opacity 100%*/
}

.btn-primary{
  color: rgb(255,255,255) !important;
/* White */
  background-color: rgb(0,47,69) !important;
/* HCSA Blue */
  border-color: rbg(255,255,255) !important;
/* White */
}

.btn-primary:hover{
  color: rgb(255,255,255) !important;
/* White */
  background-color: rgba(200,201,55,0.7) !important;
/* HCSA Green */
  border-color: rbg(255,255,255) !important;
/* White */
}

/* This file is Cascading Style Sheet (CSS).  This is how you control the look and feel of web pages. This is part of a 'Bootstrap' theme which Docassemble makes use of, this provides the customisation of the navbar found at the top of the page and variation in colour and style of buttons.